@import "tailwindcss";

@keyframes openVertical {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-openVertical {
  animation: openVertical 1s ease-in-out forwards;
  transform-origin: center;
}

@keyframes top-edge {
  0% { width: 0; }
  25% { width: 100%; }
  100% { width: 100%; }
}
@keyframes right-edge {
  0%, 25% { height: 0; }
  50% { height: 100%; }
  100% { height: 100%; }
}
@keyframes bottom-edge {
  0%, 50% { width: 0; }
  75% { width: 100%; }
  100% { width: 100%; }
}
@keyframes left-edge {
  0%, 75% { height: 0; }
  100% { height: 100%; }
}

.animate-top-edge {
  animation: top-edge 5s linear forwards;
}   
.animate-right-edge {
  animation: right-edge 5s linear forwards;
}
.animate-bottom-edge {
  animation: bottom-edge 5s linear forwards;
}
.animate-left-edge {
  animation: left-edge 5s linear forwards;
}